## Exerc√≠cio 1: Importe as bibliotecas necess√°rias

### üìò Explica√ß√£o:
- `import pandas as pd`: biblioteca para manipula√ß√£o de dados.
- `import numpy as np`: biblioteca para c√°lculos num√©ricos.

In [2]:
# Seu c√≥digo aqui
import pandas as pd
url= "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## Exerc√≠cio 2: Leia os dados do arquivo TSV

### üìò Explica√ß√£o:
- `pd.read_csv()` com `sep='\t'` para ler arquivos separados por tabula√ß√£o.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 3: Visualize as 10 primeiras entradas

### üìò Explica√ß√£o:
- `.head(10)`: retorna as 10 primeiras linhas do DataFrame.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 4: Quantas observa√ß√µes existem no dataset?

### üìò Explica√ß√£o:
- `.shape[0]`: retorna o n√∫mero de linhas do DataFrame.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 5: Quantas colunas existem no dataset?

### üìò Explica√ß√£o:
- `.shape[1]`: retorna o n√∫mero de colunas do DataFrame.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 6: Mostre o nome de todas as colunas

### üìò Explica√ß√£o:
- `.columns`: retorna os nomes de todas as colunas do DataFrame.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 7: Como o dataset est√° indexado?

### üìò Explica√ß√£o:
- `.index`: mostra como as linhas est√£o indexadas (padr√£o ou customizado).

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 8: Qual √© o item mais pedido?

### üìò Explica√ß√£o:
- `.groupby()`, `.sum()` e `.sort_values()` para agrupar, somar e ordenar.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 9: Quantas vezes 'Chicken Bowl' foi pedido?

### üìò Explica√ß√£o:
- Filtragem condicional e uso de `.quantity.sum()`.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 10: Item mais pedido por item_name e choice_description

### üìò Explica√ß√£o:
- Agrupamento duplo com `.groupby()` e agrega√ß√£o com `.sum()`.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 11: Quantos itens foram vendidos no total?

### üìò Explica√ß√£o:
- `.quantity.sum()`: retorna a soma total dos itens vendidos.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 12: Qual foi a receita total da loja?

### üìò Explica√ß√£o:
- Converter `item_price` para float, multiplicar pela `quantity` e somar.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 13: Quantos pedidos √∫nicos foram feitos?

### üìò Explica√ß√£o:
- `.nunique()` sobre `order_id` ou `len(df['order_id'].unique())`.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 14: Qual √© o pre√ßo m√©dio por pedido?

### üìò Explica√ß√£o:
- Receita total dividida pelo n√∫mero de pedidos √∫nicos.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 15: Quantos itens distintos foram vendidos?

### üìò Explica√ß√£o:
- `.item_name.nunique()` para contar itens √∫nicos vendidos.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 16: Qual √© o item mais caro (pre√ßo unit√°rio)?

### üìò Explica√ß√£o:
- Ordenar os pre√ßos unit√°rios ap√≥s convers√£o para float e visualizar o topo.

In [ ]:
# Seu c√≥digo aqui

## Exerc√≠cio 17: Quais itens foram pedidos em mais de um pedido?

### üìò Explica√ß√£o:
- Usar `.duplicated()` ou `.value_counts()` com filtro.

In [ ]:
# Seu c√≥digo aqui