## Exerc칤cio 1: Importe as bibliotecas necess치rias

### 游닂 Explica칞칚o:
- `import pandas as pd`: biblioteca para manipula칞칚o de dados.
- `import numpy as np`: biblioteca para c치lculos num칠ricos.

In [2]:
# Seu c칩digo aqui
import pandas as pd
url= "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## Exerc칤cio 2: Leia os dados do arquivo TSV

### 游닂 Explica칞칚o:
- `pd.read_csv()` com `sep='\t'` para ler arquivos separados por tabula칞칚o.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 3: Visualize as 10 primeiras entradas

### 游닂 Explica칞칚o:
- `.head(10)`: retorna as 10 primeiras linhas do DataFrame.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 4: Quantas observa칞칫es existem no dataset?

### 游닂 Explica칞칚o:
- `.shape[0]`: retorna o n칰mero de linhas do DataFrame.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 5: Quantas colunas existem no dataset?

### 游닂 Explica칞칚o:
- `.shape[1]`: retorna o n칰mero de colunas do DataFrame.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 6: Mostre o nome de todas as colunas

### 游닂 Explica칞칚o:
- `.columns`: retorna os nomes de todas as colunas do DataFrame.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 7: Como o dataset est치 indexado?

### 游닂 Explica칞칚o:
- `.index`: mostra como as linhas est칚o indexadas (padr칚o ou customizado).

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 8: Qual 칠 o item mais pedido?

### 游닂 Explica칞칚o:
- `.groupby()`, `.sum()` e `.sort_values()` para agrupar, somar e ordenar.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 9: Quantas vezes 'Chicken Bowl' foi pedido?

### 游닂 Explica칞칚o:
- Filtragem condicional e uso de `.quantity.sum()`.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 10: Item mais pedido por item_name e choice_description

### 游닂 Explica칞칚o:
- Agrupamento duplo com `.groupby()` e agrega칞칚o com `.sum()`.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 11: Quantos itens foram vendidos no total?

### 游닂 Explica칞칚o:
- `.quantity.sum()`: retorna a soma total dos itens vendidos.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 12: Qual foi a receita total da loja?

### 游닂 Explica칞칚o:
- Converter `item_price` para float, multiplicar pela `quantity` e somar.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 13: Quantos pedidos 칰nicos foram feitos?

### 游닂 Explica칞칚o:
- `.nunique()` sobre `order_id` ou `len(df['order_id'].unique())`.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 14: Qual 칠 o pre칞o m칠dio por pedido?

### 游닂 Explica칞칚o:
- Receita total dividida pelo n칰mero de pedidos 칰nicos.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 15: Quantos itens distintos foram vendidos?

### 游닂 Explica칞칚o:
- `.item_name.nunique()` para contar itens 칰nicos vendidos.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 16: Qual 칠 o item mais caro (pre칞o unit치rio)?

### 游닂 Explica칞칚o:
- Ordenar os pre칞os unit치rios ap칩s convers칚o para float e visualizar o topo.

In [ ]:
# Seu c칩digo aqui

## Exerc칤cio 17: Quais itens foram pedidos em mais de um pedido?

### 游닂 Explica칞칚o:
- Usar `.duplicated()` ou `.value_counts()` com filtro.

In [ ]:
# Seu c칩digo aqui