# üìò O que √© um DataFrame?

Um `DataFrame` √© a estrutura de dados **mais importante do Pandas**.

√â como uma planilha do Excel ou uma tabela de banco de dados, com **linhas e colunas rotuladas**.

---

## ‚úÖ Para que serve?
- Representar dados tabulares
- Armazenar, limpar, filtrar, agrupar e exportar dados
- √â a base para 90% das an√°lises com Pandas

---

## üõ†Ô∏è Como criar um DataFrame:

### 1. A partir de um dicion√°rio:
```python
import pandas as pd

dados = {
    "produto": ["Camiseta", "Cal√ßa", "Bon√©"],
    "preco": [49.90, 89.90, 29.90]
}

df = pd.DataFrame(dados)
```

### 2. A partir de uma lista de dicion√°rios:
```python
df = pd.DataFrame([
    {"produto": "T√™nis", "preco": 199.9},
    {"produto": "Meia", "preco": 9.9}
])
```

---

## üîß Par√¢metros importantes ao criar:

| Par√¢metro | O que faz |
|-----------|-----------|
| `data`    | Os dados (dicion√°rio, lista, array, etc) |
| `columns` | Define a ordem e os nomes das colunas |
| `index`   | Define os r√≥tulos das linhas (opcional) |

---

## üí° Dicas:
- Voc√™ pode acessar uma coluna com `df['coluna']`
- Um `DataFrame` pode conter **diferentes tipos de dados**
- √â poss√≠vel **alterar colunas, tipos e filtros** diretamente

---

## üß™ Exemplo real:
```python
estoque = {
    "produto": ["Camiseta", "T√™nis", "Bon√©"],
    "preco": [49.9, 219.9, 39.9],
    "estoque": [10, 4, 25]
}

df = pd.DataFrame(estoque)
```

### üß™ 1. Crie um DataFrame com os dados de 3 produtos com as colunas: produto, categoria e pre√ßo

In [7]:
# Seu c√≥digo aqui
import pandas as pd

produtos = {'Produto': ['Camiseta', 'Cal√ßa', 'Bermuda', 'T√™nis', 'Bon√©'], 'Categoria': ['Vetu√°rio', 'Vestu√°rio', 'Vestu√°rio', 'Cal√ßado', 'Acess√≥rio'], 'Pre√ßo': [29.90, 89.90, 47.90, 119.00, 19.80]}
produtos_df = pd.DataFrame(produtos)
produtos_df

    Produto  Categoria  Pre√ßo
0  Camiseta   Vetu√°rio   29.9
1     Cal√ßa  Vestu√°rio   89.9
2   Bermuda  Vestu√°rio   47.9
3     T√™nis    Cal√ßado  119.0
4      Bon√©  Acess√≥rio   19.8

### üß™ 2. Crie um DataFrame com os dados de 2 clientes: nome, idade e cidade

In [9]:
# Seu c√≥digo aqui
clientes_df = pd.DataFrame([{'Nome': 'Luiz', 'Idade':'43', 'Cidade':'S√£o Paulo'},{'Nome': 'Jo√£o', 'Idade':'35', 'Cidade':'Tabo√£o da Serra'}])
clientes_df

   Nome Idade           Cidade
0  Luiz    43        S√£o Paulo
1  Jo√£o    35  Tabo√£o da Serra

### üß™ 3. Acesse a coluna 'preco' do seu DataFrame de produtos

In [10]:
# Seu c√≥digo aqui
produtos_df['Pre√ßo']

0     29.9
1     89.9
2     47.9
3    119.0
4     19.8
Name: Pre√ßo, dtype: float64

### üß™ 4. Adicione uma nova coluna chamada 'estoque' com valores fict√≠cios

In [12]:
# Seu c√≥digo aqui
produtos_df['Estoque'] = [27, 19, 22, 7, 10]
produtos_df

    Produto  Categoria  Pre√ßo  Estoque
0  Camiseta   Vetu√°rio   29.9       27
1     Cal√ßa  Vestu√°rio   89.9       19
2   Bermuda  Vestu√°rio   47.9       22
3     T√™nis    Cal√ßado  119.0        7
4      Bon√©  Acess√≥rio   19.8       10

### üß™ 5. Crie um DataFrame com 4 linhas e 2 colunas: 'produto' e 'disponivel', e defina o √≠ndice manualmente como ['A', 'B', 'C', 'D']

In [15]:
# Seu c√≥digo aqui
produtos_disponiveis_df = pd.DataFrame({'Produtos': ['Barraca', 'Rede', 'Cadeira', 'Lanterna'], 'Disponivel': ['Sim', 'N√£o', 'Sim', 'Sim']}, index=['A', 'B', 'C', 'D'])
produtos_disponiveis_df

   Produtos Disponivel
A   Barraca        Sim
B      Rede        N√£o
C   Cadeira        Sim
D  Lanterna        Sim