# üì• Leitura e Escrita de Arquivos com Pandas

---

## üìå Fun√ß√£o `read_csv()`

Usada para ler arquivos `.csv` e transformar em um DataFrame.

### ‚úÖ Exemplo b√°sico:
```python
import pandas as pd
df = pd.read_csv("base_vendas.csv")
```

---

## üîß Par√¢metros mais usados do `read_csv()`:

| Par√¢metro   | O que faz |
|-------------|-----------|
| `filepath_or_buffer` | Caminho do arquivo |
| `sep`       | Separador de colunas (padr√£o: v√≠rgula `,`) |
| `encoding`  | Codifica√ß√£o do arquivo (ex: `"utf-8"`, `"latin1"`) |
| `usecols`   | Lista de colunas que voc√™ quer carregar |
| `nrows`     | N√∫mero de linhas a ler |
| `skiprows`  | Quantas linhas iniciais ignorar |
| `index_col` | Qual coluna usar como √≠ndice |
| `decimal`   | S√≠mbolo decimal (ex: `,` em vez de `.`) |

---

### üí° Exemplos √∫teis:
```python
# Lendo CSV com separador ponto e v√≠rgula e encoding
df = pd.read_csv("base.csv", sep=";", encoding="latin1")

# Lendo apenas algumas colunas
df = pd.read_csv("base.csv", usecols=["produto", "preco"])

# Usando uma coluna como √≠ndice
df = pd.read_csv("base.csv", index_col="produto")
```

---

## üì§ Fun√ß√£o `to_csv()`

Usada para salvar um DataFrame como CSV.

### ‚úÖ Exemplo b√°sico:
```python
df.to_csv("saida.csv", index=False)
```

---

## üîß Par√¢metros mais usados do `to_csv()`:

| Par√¢metro   | O que faz |
|-------------|-----------|
| `path_or_buf` | Caminho do arquivo de sa√≠da |
| `sep`         | Separador |
| `index`       | Salvar ou n√£o o √≠ndice (padr√£o: `True`) |
| `encoding`    | Codifica√ß√£o do arquivo |

---

## ‚ö†Ô∏è Dica importante:
- Sempre use `index=False` para n√£o salvar o √≠ndice como coluna no arquivo

### üß™ 1. Importe o arquivo 'base_vendas.csv' e exiba as 5 primeiras linhas

In [ ]:
# Seu c√≥digo aqui
import pandas as pd
bese_vendas_df = pd.read_csv('base_vendas.csv')
bese_vendas_df.head(5)

    produto   categoria  preco  estoque    loja
0  Camiseta      Roupas   49.9       10  Loja A
1     Cal√ßa      Roupas   99.9        5  Loja B
2     T√™nis    Cal√ßados  199.9        7  Loja A
3   Jaqueta      Roupas  149.9        3  Loja C
4      Bon√©  Acess√≥rios   29.9       20  Loja A

### üß™ 2. Importe o arquivo, mas apenas as colunas 'produto' e 'preco'

In [6]:
# Seu c√≥digo aqui
produtos_preco_df = pd.read_csv('base_vendas.csv', usecols=['produto', 'preco'])
produtos_preco_df

    produto  preco
0  Camiseta   49.9
1     Cal√ßa   99.9
2     T√™nis  199.9
3   Jaqueta  149.9
4      Bon√©   29.9
5      Meia    9.9
6  Camiseta   59.9
7     T√™nis  219.9
8     Cal√ßa   89.9
9      Bon√©   39.9

### üß™ 3. Importe o arquivo com a coluna 'produto' como √≠ndice

In [7]:
# Seu c√≥digo aqui
vendas_df = pd.read_csv('base_vendas.csv', index_col='produto')
vendas_df

           categoria  preco  estoque    loja
produto
Camiseta      Roupas   49.9       10  Loja A
Cal√ßa         Roupas   99.9        5  Loja B
T√™nis       Cal√ßados  199.9        7  Loja A
Jaqueta       Roupas  149.9        3  Loja C
Bon√©      Acess√≥rios   29.9       20  Loja A
Meia      Acess√≥rios    9.9       50  Loja C
Camiseta      Roupas   59.9        8  Loja B
T√™nis       Cal√ßados  219.9        4  Loja A
Cal√ßa         Roupas   89.9        6  Loja C
Bon√©      Acess√≥rios   39.9       25  Loja B

### üß™ 4. Salve um novo arquivo CSV chamado 'estoque.csv' contendo apenas as colunas 'produto' e 'estoque'

In [9]:
# Seu c√≥digo aqui
estoque = bese_vendas_df[['produto', 'estoque']]
produtos_preco_df.to_csv('estoque.csv', index=False)

### üß™ 5. Salve todo o DataFrame em um CSV separado por ponto e v√≠rgula (;), sem o √≠ndice

In [11]:
# Seu c√≥digo aqui
vendas_df.to_csv('base_vendas.csv', sep=';', index=False)