# üîç Explora√ß√£o inicial de dados com Pandas

Depois de carregar seus dados com `read_csv()`, voc√™ precisa entender **o que tem no seu DataFrame**.

---

## üß∞ M√©todos mais √∫teis para explorar os dados:

### ‚úÖ `.head(n)`
Mostra as **primeiras n linhas** (padr√£o: 5)
```python
df.head()
```

### ‚úÖ `.tail(n)`
Mostra as **√∫ltimas n linhas**
```python
df.tail(3)
```

### ‚úÖ `.shape`
Mostra o **formato** do DataFrame (linhas, colunas)
```python
df.shape
```

### ‚úÖ `.info()`
Mostra um resumo da estrutura: colunas, tipos, valores nulos
```python
df.info()
```

### ‚úÖ `.describe()`
Mostra estat√≠sticas descritivas para colunas num√©ricas
```python
df.describe()
```

---

## üí° Dicas:
- Use `.info()` para checar se h√° **valores nulos**
- Use `.describe()` para ver **m√©dia, desvio, min/max, percentis**
- `.shape[0]` retorna s√≥ o n√∫mero de linhas, `.shape[1]` retorna n√∫mero de colunas

### üß™ 1. Carregue o arquivo 'base_vendas.csv' e exiba as 3 primeiras linhas

In [12]:
# Seu c√≥digo aqui
import pandas as pd
vendas_df = pd.read_csv('base_vendas.csv')
display(vendas_df.head(3))

    produto categoria  preco  estoque    loja
0  Camiseta    Roupas   49.9       10  Loja A
1     Cal√ßa    Roupas   99.9        5  Loja B
2     T√™nis  Cal√ßados  199.9        7  Loja A

### üß™ 2. Exiba as √∫ltimas 2 linhas do DataFrame

In [9]:
# Seu c√≥digo aqui
vendas_df.tail(2)

  produto   categoria  preco  estoque    loja
8   Cal√ßa      Roupas   89.9        6  Loja C
9    Bon√©  Acess√≥rios   39.9       25  Loja B

### üß™ 3. Mostre o n√∫mero total de linhas e colunas

In [10]:
# Seu c√≥digo aqui
vendas_df.shape

(10, 5)

### üß™ 4. Exiba as informa√ß√µes do DataFrame com `.info()`

In [11]:
# Seu c√≥digo aqui
vendas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   produto    10 non-null     object
 1   categoria  10 non-null     object
 2   preco      10 non-null     float64
 3   estoque    10 non-null     int64
 4   loja       10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 532.0+ bytes

### üß™ 5. Mostre um resumo estat√≠stico das colunas num√©ricas

In [13]:
# Seu c√≥digo aqui
vendas_df.describe()

           preco    estoque
count   10.00000  10.000000
mean    94.90000  13.800000
std     72.61007  14.604413
min      9.90000   3.000000
25%     42.40000   5.250000
50%     74.90000   7.500000
75%    137.40000  17.500000
max    219.90000  50.000000